<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>

<body>

    <header class="navbar">
        <h1>Video courses</h1>

    </header>
    <form  method="POST">
        <div class="main">
            <label for="url">URL</label>
            <input type="text" name="url" required>
            <label for="source">Source</label>
            <input type="text" name="source" required>
            <label for="categorie">Categorie</label>

            <input type="text" name="categorie" required>

            <label for="description">Description</label>

            <input type="text" name="description" required>

        </div>
        <button  class="btn" type="submit" >Subir</button>

    </form>

    <a class="back-button" href="/course">tus cursos</a>
    <a class="back-button" href="/youtube">youtbe test</a>

    <!-- <script>
        const sendInformation =(e)=>{
            e.preventDefault()
            console.log("Enviando")

        }
    </script> -->

</body>

</html>